#startPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#circle {
    background-color: darkblue;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background-image: url(./Map/Continents_Pixelated.png);
    background-size:cover;
    background-repeat: repeat-x;
    animation: animateGlobe 15s linear infinite;
}

@keyframes animateGlobe
{
    0%
    { 
        background-position: 0 0;
    }
    100%
    {
        background-position: 1920px 0;
    }
}